<!-- <div>
    <table>
        <thead>
            <tr>
                <th> "surgeon" </th>
                <th> "specialty"</th>
                <th> "anesthsiste"</th>
                <th> "nurse1" </th>
                <th> "nurse2"</th>
                <th> "roomNumber"</th>
                <th> "intervention"</th>
            </tr>
        </thead>

        <tr *ngFor="let sur of list">
            <td>{{sur.surgeon}}</td>
            <td>{{sur.anesthsiste}}</td>
            <td>{{sur.nurse1}}</td>
            <td>{{sur.nurse2}}</td>
            <td>{{sur.roomNumber}}</td>
            <td>{{sur.specialty}}</td>
            <td>{{sur.intervention}}</td>
        </tr>
    </table>
</div> -->



<mat-form-field>
    <input matInput (keyup)="applyFilter(recheche)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="surgeon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SURGEON </th>
            <td mat-cell *matCellDef="let row"> {{row.surgeon}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="specialty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SPECIALITY </th>
            <td mat-cell *matCellDef="let row"> {{row.specialty}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="anesthsiste">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ANESTHESISTE </th>
            <td mat-cell *matCellDef="let row"> {{row.anesthsiste}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="nurse1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NURSE1 </th>
            <td mat-cell *matCellDef="let row"> {{row.nurse1}} </td>
        </ng-container>

        <ng-container matColumnDef="nurse2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NURSE2 </th>
            <td mat-cell *matCellDef="let row"> {{row.nurse2}} </td>
        </ng-container>
        <ng-container matColumnDef="roomNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> RoomNumber </th>
            <td mat-cell *matCellDef="let row"> {{row.roomNumber}} </td>


        </ng-container>
        <ng-container matColumnDef="intervention">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> INTERVENTION </th>
            <td mat-cell *matCellDef="let row"> {{row.intervention}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
</div>